<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>Carbon Fee and Dividend Calculator</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js"></script>
</head>

<body>
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to calculator_home_path, class: 'navbar-brand' do %>
      <%= image_tag 'ccl-logo-alpha.png', class: 'menu-logo' %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="#about">About</a></li>
      <li class="nav-item active"><a class="nav-link" href="#blog">Blog</a></li>
      <li class="nav-item active"><a class="nav-link" href="#take_action">Take Action</a></li>
      <li class="nav-item active"><a class="nav-link" href="#donate">Donate</a></li>
      <li class="nav-item btn-join">
        <button class="btn btn-danger btn-sm">Join CCL</button>
      </li>
    </ul>
  </div>

</nav>
<%= yield %>
</body>
</html>
